<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iql_nhanvien_service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63527/ql_nhanvien_service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iql_nhanvien_service"
                contract="ql_nhanvien_service.Iql_nhanvien_service" name="BasicHttpBinding_Iql_nhanvien_service" />
        </client>
    </system.serviceModel>
</configuration>